.green-bg {
    background-color: #4fbf4e !important;
}

.gex-bg {
    background-color: #1d87e4 !important;
}

.lite-gr-bg {
    background-color: #7f7f7f !important;
}

.red-svg {
    fill: rgba(216, 64, 64, 0.84) !important;
}

.dark-red-svg {
    fill: #e41d35 !important;
}

.gex-svg {
    fill: #1d87e4 !important;
}

.yellow-svg {
    fill: #ffd90b !important;
}

.orange-svg {
    fill: #ffb612 !important;
}

.dark-orange-svg {
    fill: #866a2c !important;
}

.green-svg {
    fill: #37d459 !important;
}

.dark-green-svg {
    fill: #37d459 !important;
}

.btn-green-svg {
    fill: #109c37 !important;
}

.purple-svg {
    fill: #673AB7 !important;
}

.gr-svg {
    fill: #434343 !important;
}

.lite-gr-svg {
    fill: #7f7f7f !important;
}

.white-svg {
    fill: #fff !important;
}

.white {
    color: white !important;
}

.tail-bg {
    background: #FFB74D !important;
}

.sql-bg {
    background: #BA68C8 !important;
}

.forward-bg {
    background: #4ccc99 !important;
}

.http-bg {
    background: #686ecc !important;
}

.netflow-bg {
    background: #ff7a50 !important;
}

.kafka-bg {
    background: #31b5c5 !important;
}
